html, body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    background: rgb(131, 205, 231);
    height: 100%;
    width: 100%;
}

.Typewriter {
    color: #199615;
    font-weight: 800;
}